#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchbar {
  padding: 1rem;
}

.character-container {
  padding: 1.3rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.character-card {
  min-width: 250px;
  max-width: 250px;
}

.character-image {
  max-height: 250px;
}
